<!DOCTYPE html>
<html>
<head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />  
	
	<link rel="stylesheet" type="text/css" href="/extjs/resources/css/ext-all.css">
	
   <script type="text/javascript"  src="/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="/extjs/ext-all-debug.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <title> 시험용 </title>
</head>
<body>
	<H1> 시험용 제목 </H1>
	<script type="text/javascript">
		Ext.onReady(function () {
		
            var vp = Ext.create('Ext.container.Viewport', {
                    layout: 'border',
                    items: [{
                        region: 'north',
                        margins: 5,
                        height: 100,
                        xtype: 'container'
                    }, {
                        title: 'West',
                        region: 'west',
                        margins: '0 5 0 5',
                        flex: .3,
                        collapsible: true,
                        split: true,
                        titleCollapse: true
                    }, {
                        title: 'Center',
                        region: 'center'
                    }, {
                        title: 'East',
                        region: 'east',
                        margins: '0 5 0 5',
                        width: 200,
                        collapsible: true,
//                        collapsed: true
                    }, {
                        title: 'South',
                        region: 'south',
                        margins: '0 5 5 5',
                        flex: .3,
                        split: true
                    }]
            });
		});
	</script>
</body>
   
</html>

